
<ng-container *ngIf="auth.userAndRole$ | async as user; else defaultUser">
    <div *ngIf="menus$ | async" class="w3-margin-top">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;">
            <span style="font-size:1.2em; color: #2B2B2B; font-family: Raleway; font-weight: bolder;">
                Configuración Menús</span>
            <button *ngIf="user['role']['kitchenDishesConfigurationSaveAction']"
                mat-raised-button class="w3-margin-right" (click)="save()"
                style="background: #EE8434; color: white; font-family: Raleway;">Guardar</button>
        </div>
        <div class="mat-elevation-z8 w3-margin-top w3-round" style="border-radius: 10px 10px 0 0; margin-top: 2vh;">
            <div class="w3-round-large" style="overflow:auto; border-radius: 10px 10px 0 0;">
                <table mat-table [dataSource]="dataMenu" style="width: 100%; font-family: Raleway;">
                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center" matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9; width: 4%;">
                            No. </th>
                        <td mat-cell *matCellDef="let element; let i = index" style="color:#2b2b2b; padding-left: 0;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            {{i+1}}
                        </td>
                    </ng-container>

                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center" matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9;">
                            Nombre </th>
                        <td mat-cell *matCellDef="let element" style="color:#2b2b2b; padding: 0.5em 0;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            {{element['name'] | titlecase}}</td>
                    </ng-container>


                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center" matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9;">
                            Precio
                        </th>
                        <td mat-cell *matCellDef="let element" style="color:#2b2b2b;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            <span *ngIf="!element['edit']">{{element['price']}}</span>
                            <mat-form-field appearance="legacy" style="width: 40px; text-align: center;"
                                *ngIf="element['edit']">
                                <input matInput type="number" autocomplete="off" [(ngModel)]="element['price']">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center"
                        matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9;">
                            Acciones</th>
                        <td mat-cell *matCellDef="let element; let i = index"
                            [className]="element['orderStatus']=='ANULADO'?'w3-center off w3-border-bottom':'w3-border-bottom w3-center'"
                            style="color:#2b2b2b; padding:0px 1em; border-left:1px solid #B9B9B9">
                            <mat-menu #requestsMenu="matMenu">
                                <button mat-menu-item (click)="editItem(i)">
                                    <mat-icon style="vertical-align: middle;">create</mat-icon> Editar
                                </button>
                            </mat-menu>
                            <button mat-icon-button [matMenuTriggerFor]="requestsMenu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedMenuColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedMenuColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="dishes$ | async" style="margin-top: 5vh;">
        <h2 style="font-size:1.2em; color: #2B2B2B; font-family: Raleway; font-weight: bolder;"
            *ngIf="dataDishSource.data.length">Lista
            Platos</h2>
        <div class="mat-elevation-z8 w3-margin-top w3-round" *ngIf="dataDishSource.data.length"
            style="border-radius: 10px 10px 0 0; margin-top: 2vh;">
            <div class="w3-round-large" style="overflow:auto; border-radius: 10px 10px 0 0;">
                <table mat-table [dataSource]="dataDishSource" style="width: 100%; font-family: Raleway;">
                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center" matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9; width: 4%;">
                            No. </th>
                        <td mat-cell *matCellDef="let element" style="color:#2b2b2b; padding-left: 0;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            {{element['index']}}
                        </td>
                    </ng-container>

                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center" matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9;">
                            Nombre </th>
                        <td mat-cell *matCellDef="let element" style="color:#2b2b2b; padding: 0.5em 0;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            {{element['name'] | titlecase}}</td>
                    </ng-container>

                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center"
                        matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9;">
                            Estado
                        </th>
                        <td mat-cell *matCellDef="let element" style="color:#2b2b2b;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            {{element['status']}} </td>
                    </ng-container>

                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center" matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9;">
                            Costo por plato
                        </th>
                        <td mat-cell *matCellDef="let element" style="color:#2b2b2b;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            {{element['cost'] | number: '.2'}} </td>
                    </ng-container>

                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center" matColumnDef="stock">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9;">
                            Cantidad
                        </th>
                        <td mat-cell *matCellDef="let element" style="color:#2b2b2b;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            {{element['stock']}} </td>
                    </ng-container>
                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center"
                        matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9;">
                            Acciones</th>
                        <td mat-cell *matCellDef="let element; let i = index"
                            [className]="element['orderStatus']=='ANULADO'?'w3-center off w3-border-bottom':'w3-border-bottom w3-center'"
                            style="color:#2b2b2b; padding:0px 1em; border-left:1px solid #B9B9B9">
                            <mat-menu #requestsMenu="matMenu">
                                <button *ngIf="user['role']['kitchenDishesConfigurationEditAction']"
                                    mat-menu-item>
                                    <mat-icon style="vertical-align: middle;">create</mat-icon> Editar
                                </button>
                            </mat-menu>
                            <button mat-icon-button [matMenuTriggerFor]="requestsMenu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedDishColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedDishColumns;"></tr>
                </table>
            </div>
            <mat-paginator class="w3-round-large" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>

</ng-container>

<ng-template #defaultUser>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <p class="mat-h2" style="font-family: Raleway; color: #2b2b2b">Cargando credenciales ...</p>
</ng-template>