<div style="font-family: Raleway; max-width: 350px;">
    <h2 style="font-size:1.2em; font-weight: bolder; border-bottom: 1px solid black; padding-bottom: 10px;"
        mat-dialog-title>
        <mat-icon style="vertical-align: middle;">cancel</mat-icon>
        <span class="w3-margin-left">Anular</span>
    </h2>
    <mat-dialog-content>
        <p>¿Estás seguro de anular el documento <strong>{{data['documentSerial']}} - {{data['documentCorrelative']}}</strong>?</p>
    </mat-dialog-content>
    <mat-dialog-actions style="margin-bottom: -16px;" align="end">
        <button mat-raised-button class="w3-margin-right" mat-dialog-close
            color="PRIMARY">Cancelar</button>
        <button mat-raised-button class="w3-margin-right" (click)="cancel()"
            color="secondary">Sí, anular</button>

    </mat-dialog-actions>
</div>