<h2 class="ms-font-montserrat mat-title" mat-dialog-title>
  <mat-icon class="ms-icons-color" style="vertical-align:middle">contacts</mat-icon> {{data.customer.businessName}} -
  Contactos
</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div class="mat-elevation-z8 w3-margin-top w3-margin-bottom">
    <div style=" overflow:auto">
      <table mat-table [dataSource]="dataSource" matSort style="width:100%">

        <ng-container matColumnDef="index">
          <th mat-header-cell style="padding:0px 25px" *matHeaderCellDef>N°</th>
          <td mat-cell style="padding:0px 25px" *matCellDef="let raw">
            {{raw.index + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef mat-sort-header>Nombre
          </th>
          <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
            {{raw.contactName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef mat-sort-header>Celular
          </th>
          <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
            {{raw.contactPhone ? raw.contactPhone : '---'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="mail">
          <th mat-header-cell style="padding:0px 15px" *matHeaderCellDef mat-sort-header>Correo
          </th>
          <td mat-cell style="padding:0px 15px" *matCellDef="let raw">
            <a href="mail-to:{{raw.contactMail}}">{{raw.contactMail ? raw.contactMail : '---'}}</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="PRIMARY" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>