.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 5px;
    padding: .75em .75em 0 .75em;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    background-color: white;
}

.mat-form-field-underline {
    display: none
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 5px !important;
}

.mat-fab.mat-warn, .mat-flat-button.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
    background-color: #B70705;
}