<div style="font-family: Raleway;min-width: 45vw;">
    <h2 style="font-size:1.2em; font-family: Raleway; font-weight: bolder; border-bottom: 1px solid black; padding-bottom: 10px;"
        mat-dialog-title>
        <mat-icon style="vertical-align: middle;">format_list_bulleted</mat-icon>
        <span class="w3-margin-left">Insumos</span>
    </h2>
    <mat-dialog-content>
        <div class="mat-elevation-z8 w3-margin-top w3-margin-bottom w3-round"
            style="border-radius: 10px ; margin-top: 2vh;">
            <div class="w3-round-large" style="overflow:auto; border-radius: 10px 10px 0 0;">
                <table mat-table [dataSource]="ordersTableDataSource" style="width: 100%; font-family: Raleway;">
                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center"
                        matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9; width: 4%;">
                            No. </th>
                        <td mat-cell *matCellDef="let element; let i = index" style="color:#2b2b2b; padding-left: 0;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            {{i+1}}
                        </td>
                    </ng-container>

                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center"
                        matColumnDef="supplie">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9;">
                            Insumo </th>
                        <td mat-cell *matCellDef="let element" style="color:#2b2b2b; padding: 0.5em 0;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            {{element['name'] | titlecase}}</td>
                    </ng-container>


                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center"
                        matColumnDef="unit">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9;">
                            Medida
                        </th>
                        <td mat-cell *matCellDef="let element" style="color:#2b2b2b;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            {{element['unit']}} </td>
                    </ng-container>

                    <ng-container class="mat-elevation-z8 w3-border-bottom w3-border-indigo w3-center"
                        matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef class="w3-center w3-border-left"
                            style="background: #C8C8C8;color: #828282;font-size: 0.9em;padding:0px 1em; border-left:1px solid #B9B9B9;">
                            Cantidad faltante </th>
                        <td mat-cell *matCellDef="let element" style="color:#2b2b2b;"
                            class="w3-center w3-border-left off w3-border-bottom':'w3-border-bottom w3-center w3-border-left">
                            {{element['amount'] }}
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="ordersTableDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: ordersTableDisplayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator class="w3-round-large" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions style="margin-bottom: -16px;" align="end">
        <button class="w3-margin-left" mat-raised-button color="secondary" (click)="print()">
            Descargar</button>
        <button mat-raised-button class="w3-margin-right" mat-dialog-close
           color="PRIMARY">Cancelar</button>

    </mat-dialog-actions>
</div>