.contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
}

.warn {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
}

.mat-dialog-content {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #929292;
}